<div class="container">
  <h1>Projects</h1>

  <div class="row">
    <div class="col">
      <div *ngFor="let issue of issues" class="card">
        <div class="card-body">
          <div class="issue-item-title" [innerText]="issue.title"></div>
          <div class="issue-item-estimate">5h</div>
          <div class="issue-item-status">
            <div
              [innerText]="issue.status.title"
              [className]="'badge ' + issue.status.color"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>
